/* Font import */
/* ------------------------------------------------------------------------------------------------------------------------------ */

@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(../fonts/Medium.otf);
}

/* Color palette */
/* ------------------------------------------------------------------------------------------------------------------------------ */

/* Normal */
:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --darkgreen: #379453;
  --navy: #0a3250;
  --black: #000000;
}

/* Accessibility */

@media (prefers-contrast: more) {

  :root {
    --green: #135c29;
  }
}

/* Normalize */
* {
  box-sizing: border-box;
}

/* Side bar, header & titles */
/* ------------------------------------------------------------------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'AvantGardeGothicMedium';
  display: flex;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

header {
  padding: 1em;
  color: var(--green);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  height: 8em;
}

header h1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 2em;
}

aside {
  background-color: var(--white);
  padding: 2em;
  /* max-width: 12vw;
  min-width: 12vw; */
  width: 20vw;
  height: 100vw;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

aside h2 {
  margin: 0;
  font-size: 1.8em;
  /* color: var(--navy);
  text-align: center;
  padding: 1em 0;
  border-bottom: solid 2px var(--white); */
  background-color: var(--white);
  text-align: center;
  padding: 1em;
  border-radius: 16px;
  /* box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
}

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;
  margin: 0;
  margin-top: 2em;
}

span {
  color: var(--green);
}

a {
  font-size: 1.2em;
}

a:hover {
  color: var(--darkgreen);
  transition: 200ms;
}

ul {
  padding: 0.4em;
  font-weight: bold;
}

.primary-container {
  flex: 1;
}

.main {
  max-height: calc(100vh - 8em);
  overflow: auto;
}

.category-list {
  margin: 2em 4em;
}

.category-list h3 {
  font-size: 1.6em;
  text-decoration: underline;
}

.active {
  background-color: var(--white);
  color: white;
}

/* CSS voor de content */
/* ------------------------------------------------------------------------------------------------------------------------------ */

.colorpalette {
  border: solid 4px var(--grey);
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.typography-bold {
  font-weight: bold;
  font-size: 2em;
}

.typography-light {
  font-weight: lighter;
  font-size: 2em;
}