/* Font import */
/* ------------------------------------------------------------------------------------------------------------------------------ */

@font-face {
  font-family: "AvantGardeGothicMedium";
  src: url(./fonts/Medium.otf);
}

/* Color palette */
/* ------------------------------------------------------------------------------------------------------------------------------ */

/* Normal */
:root {
  --white: #ffffff;
  --grey: #dfe4e5;
  --mint: #d4e9db;
  --green: #46aa64;
  --darkgreen: #379453;
  --navy: #0a3250;
  --black: #000000;
}

/* Accessibility */

@media (prefers-contrast: more) {
  :root {
    --green: #135c29;
  }
}

/* Normalize */
* {
  box-sizing: border-box;
}

/* Side bar, header & titles */
/* ------------------------------------------------------------------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "AvantGardeGothicMedium";
  display: flex;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

header {
  padding: 1em;
  color: var(--green);
  height: 8em;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

header h1 {
  display: flex;
  align-items: center;
  margin: 1em;
}

aside {
  background-color: var(--white);
  padding: 2.8em;
  width: 20vw;
  height: 100vh;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

aside h2 {
  margin: 0;
  font-size: 1.8em;
  padding: 0.2em;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 0;
  margin: 0;
  margin-top: 2em;
}

span {
  color: var(--green);
}

a {
  font-size: 1.2em;
  display: block;
}

a:hover {
  color: var(--darkgreen);
  transition: 200ms;
}

ul {
  padding: 0.4em;
  font-weight: bold;
}

.primary-container {
  flex: 1;
}

.main {
  max-height: calc(100vh - 8em);
  overflow: auto;
}

.category-list {
  margin: 2em 4em;
}

.category-list h3 {
  font-size: 2em;
  text-decoration: underline;
}

.active {
  background-color: var(--white);
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a3250;
  color: white;
  padding: 2em;
}

footer > a {
  padding: 1em;
  margin-top: 4px;
}

footer > a:hover {
  color: var(--grey);
  cursor: pointer;
}

footer > a > svg {
  height: 1.5em;
  width: 1.5em;
}

/* CSS voor de content */
/* ------------------------------------------------------------------------------------------------------------------------------ */

h4 {
  text-decoration: underline;
  font-size: 1.4em;
}

.circles {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 16px;
}

.circles p {
  margin: auto 0;
}

.colors-flexbox {
  display: flex;
  gap: 16em;
  margin-bottom: 4em;
}

.colors-flexbox pre {
  font-size: 3em;
  margin: 0;
}

.color-circle {
  border-radius: 100%;
  height: 64px;
  width: 64px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.code-flexbox {
  display: flex;
  gap: 2em;
}

pre code {
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.colorpalette {
  border: solid 4px var(--grey);
  border-radius: 16px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.typography-bold {
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

.typography-light {
  font-weight: lighter;
  font-size: 2em;
  text-decoration: none;
}

.button-primary {
  width: 10.7em;
  margin: 0.75em 2em;
  padding: 1em;
  padding-top: 0.9em;
  font-size: 1em;
  text-align: center;
  /* text-transform: uppercase; */
  border-radius: 2.5em;
  border-style: none;
  color: #272932;
  background-color: #b3d9bb;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button-primary:hover {
  filter: brightness(105%);
}

.button-primary:active {
  filter: brightness(80%);
}

.button-secundary {
  width: 10.7em;
  margin: 0.75em 2em;
  padding: 1em;
  padding-top: 0.9em;
  font-size: 1em;
  text-align: center;
  /* text-transform: uppercase; */
  border-radius: 2.5em;
  border-style: none;
  color: #ffffff;
  background-color: #0a3250;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.icons {
  margin: 10px;
}

.interactive-items-nav {
  display: flex;
  flex-direction: row;
  padding-bottom: 1.4em;
}

.interactive-items-nav li:hover {
  scale: 1.1;
  transition: 0.4s;
}

.interactive-items-link-container {
  padding: 0;
}

.interactive-items-link {
  color: var(--green);
  font-size: 1.2rem;
}

.interactive-items-link:hover {
  text-decoration: underline;
}

.interactive-items-text {
  font-size: 1.2em;
  margin: 0;
}

.headings {
  display: flex;
  gap: 1em;
}

.heading1 {
  display: flex;
  justify-content: center;
  background-color: var(--navy);
  color: var(--white);
  padding: 0.5em;
  font-size: 2.5em;
  width: 7em;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: var(--black);
  margin-top: 12px;
}

.heading2 {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  color: var(--navy);
  padding: 0.5em;
  font-size: 2.5em;
  width: 7em;
  box-shadow: 0 5px 5px 3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
